	*{
	margin: 0; /* Убираем отступы на странице */
	padding:0;
   }
   body{
	   
	height:auto;
	width:100%;
   }
   #content {
    margin: 0 auto 50px; /* Выравнивание по центру */
   }
   #container{
   }
   footer {
	margin-top:500px;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }
   footer div {
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
   }
   img{
	max-width: 100%;
	height: auto;
	width: auto\9;
}
   .item{
	float:left;
	width:26.5%;
	height: 100%;
	text-align: center;
	font-size: 1.5em;
	font-family: Comic Sans MS, sans-srif;
	border-radius: 5px;
	border: 2px solid gray;
	margin-top:0.5%;
	margin-left:0.5%;
	background-color:#fff
}
.item:after{
}